.homeHeader{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    left: 285px;
    position: relative;
    top: 14px;
}
.header td{
    padding: 20px;
}

.header{
    background: #08235d;
    color: #DBBD7F;
    font-family: sans-serif;
    font-size: 30px;
    margin: auto;
}
.footer{
    background: #3663ca;
    color: white;
    font-family: sans-serif;
    margin: auto;
    padding: 3px;
}
.homeFooter{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    margin: auto;
}

a:visited, a{
    color: darkred;
    text-decoration: none;
}
.header a{
    color: #DBBD7F;
    text-decoration: none;
}

.root{
    width: 100%;
    height: 52.5vw;
}

#trophyImage{
    width: 20vw;
    height: 70vh;
}
#galleryImage{
    width: 55vw;
    height: 35vw;
    border-radius: 20px;
}

.root{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto 50px;
    align-items: center;
    grid-gap: 30px;
}

.appTitle{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.trophy{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.photoGallery{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.appTitle h1{
    color: white;
    font-family: sans-serif;
    font-size: 60px;
}
h3{
    color: white;
    font-family: sans-serif;
}
body{
    background: linear-gradient(0deg, #3663ca 0%, #244a9d 40%, #08235d 80%);
    background-repeat: no-repeat;
}
td{
    color: darkred;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
}
.displayTeams{
    background: #DBBD7F;
    padding: 10px;
}
.displayTeams td{
    padding: 10px;
}
.columnInfo{
    background: #bf7a00;
    color: white;
}
.columnInfo td{
    background: #bf7a00;
    color: white;
    padding: 10px;
}
.sort{
    color: white;
    font-family: sans-serif;
}
.sort label{
    color: white;
    font-family: sans-serif;
}
input[type="submit"]{
    color: white;
    background: darkred;
    border-radius: 5px;
}
.userInput{
    background-color: #DBBD7F;
    padding: 40px;
    font-size: 20px;
    width: 80%;
}
.userInput input[type="text"],input[type="number"]{
    width: 50vw;
}
#editSearchBox{
    margin: 20px;
    width: 40vw;
    padding: 20px;
}
