<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Team</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--This page contains a web form to enter the data for a new team as follows:-->
<div>

<div>
    <th:block th:insert="supplement.html :: header"></th:block>
</div>

<form method="post" th:action="@{/processTeam}" th:object="${team}">
    <table>
        <input value="0" type="hidden" th:field="*{teamID}">

    <tr><td>Team Name</td><td><input type="text" th:field="*{teamName}" placeholder="Enter team name"></td></tr>

    <tr><td>Continent</td>
        <td>
        <select type="text" th:field="*{continent}">
        <option value="N. America">N. America</option>
        <option value="S. America">S. America</option>
        <option value="Europe">Europe</option>
        <option value="Asia">Asia</option>
        <option value="Africa">Africa</option>
        <option value="Australia">Oceania</option>
        </select>
        </td></tr>
    <tr><td>Games played</td><td><input type="number" th:field="*{played}" min="0"></td></tr>
    <tr><td>Num wins</td><td><input type="number" th:field="*{won}" min="0"></td></tr>
    <tr><td>Num draws</td><td><input type="number" th:field="*{drawn}" min="0"></td></tr>
    <tr><td>Num losses</td><td><input type="number" th:field="*{lost}" min="0"></td></tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add team"></td>
        </tr>
    </table>
</form>
</div>
<footer th:replace="supplement.html :: footer"></footer>
</body>
</html>
