<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Team</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div>
    <th:block th:insert="supplement.html :: header"></th:block>
</div>

<table class="displayTeams">
    <tr>
        <td>Team ID</td>
        <td>Team (Country)</td>
        <td>Continent</td>
        <td>Played</td>
        <td>Won</td>
        <td>Drawn</td>
        <td>Lost</td>
        <td>Points</td>
    </tr>

    <th:block th:each="t:${teams}">
        <tr>
            <td th:text="${t.teamID}" ></td>
            <td th:text="${t.teamName}" ></td>
            <td th:text="${t.continent}" ></td>
            <td th:text="${t.played}" ></td>
            <td th:text="${t.won}" ></td>
            <td th:text="${t.lost}" ></td>
            <td th:text="${t.drawn}" ></td>
            <td th:text="${t.calculatePoints()}" ></td>
            <td><a th:href="@{'deleteTeamById/' + ${t.teamID}}">DELETE</a></td>
        </tr>
    </th:block>
</table>

<footer th:replace="supplement.html :: footer"></footer>
</body>
</html>
