<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Results</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div>
        <th:block th:insert="Supplement.html :: header"></th:block>
    </div>


    <table class="displayTeams">
        <tr class="columnInfo">
            <td>Team ID</td>
            <td>Team (Country)</td>
            <td>Continent</td>
            <td>Played</td>
            <td>Won</td>
            <td>Drawn</td>
            <td>Lost</td>
            <td>Points</td>
        </tr>

        <th:block th:each="t:${teams}">
            <tr class="teamData">
                <td th:text="${t.teamID}"></td>
                <td th:text="${t.teamName}"></td>
                <td th:text="${t.continent}"></td>
                <td th:text="${t.played}"></td>
                <td th:text="${t.won}"></td>
                <td th:text="${t.drawn}"></td>
                <td th:text="${t.lost}"></td>
                <td th:text="${t.calculatePoints()}"></td>
            </tr>
        </th:block>
    </table>

    <form method="post" th:action="@{/displayTeamsSorted}">

        <div class="sort">
            <p>Sort table by:</p>
            <input type="radio" name="sortOption" value="1" id="teamName" checked>
            <label for="teamName">Team Name</label>

            <input type="radio" name="sortOption" value="2" id="continent">
            <label for="continent">Continent</label>

            <input type="radio" name="sortOption" value="3" id="points">
            <label for="points">Points</label>
            <input type="submit" value="Sort">
        </div>
    </form>

</div>
<footer th:replace="Supplement.html :: footer"></footer>
</body>
</html>
