<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Team Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div>
        <th:block th:insert="Supplement.html :: header"></th:block>
    </div>

    <div class="userInput">
        <form method="post" th:action="@{/processEdit}" th:object="${editedTeam}">
            <table>
                <input value="0" type="hidden" th:field="*{teamID}">
                <tr>
                    <td>Team Name</td>
                    <td><input type="text" th:field="*{teamName}" placeholder="Enter new team name"></td>
                </tr>

                <tr>
                    <td>Continent</td>
                    <td>
                        <select th:field="*{continent}">
                            <th:block th:each="c : ${continents}">
                                <option th:value="${c}" th:text="${c}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Games played</td>
                    <td><input type="number" th:field="*{played}" min="0"></td>
                </tr>
                <tr>
                    <td>Number of wins</td>
                    <td><input type="number" th:field="*{won}" min="0"></td>
                </tr>
                <tr>
                    <td>Number of draws</td>
                    <td><input type="number" th:field="*{drawn}" min="0"></td>
                </tr>
                <tr>
                    <td>Number of losses</td>
                    <td><input type="number" th:field="*{lost}" min="0"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Apply edits to team"></td>
                </tr>
            </table>
        </form>
    </div>

    <footer th:replace="Supplement.html :: footer"></footer>
</div>
</body>
</html>
