<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="root">
    <div class="homeHeader">
        <th:block th:insert="Supplement.html :: header"></th:block>
    </div>

    <div class="trophy">
        <img id="trophyImage" src="/images/trophy.png">
    </div>

    <div class="appTitle">
        <h1>2018 FIFA World Cup</h1>
        <h3>Click on the trophy to randomly change the image!</h3>
    </div>

    <div class="photoGallery">
        <img id="galleryImage" src="/images/6.jpeg">
    </div>

</div>
<div class="homeFooter">
    <footer th:replace="Supplement.html :: footer"></footer>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        //attach a click event to the trophy image
        let imageNumber;

        //store the gallery in a var
        let gallery = document.getElementById("galleryImage");
        document.images[0].addEventListener("click", function () {
            //choose a random number to change the image source\
            imageNumber = Math.floor(Math.random() * 13);
            gallery.src = "images/" + imageNumber + ".jpeg";


        });
    });
</script>
</body>
</html>
