<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Header and Footer fragment</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header" th:fragment="header">
    <table>
        <tr>
            <td><a th:href="@{/}">Home</a></td>
            <td><a th:href="@{/displayTeams}">All teams</a></td>
            <td><a th:href="@{/addNewTeam}">Add team</a></td>
            <td><a th:href="@{/edit}">Edit teams</a></td>
            <td><a th:href="@{/delete}">Delete teams</a></td>
        </tr>
    </table>
</div>
<!-- YOUR_FULL_NAME to be replaced with your actual name  -->
<!-- use this throughout the assignment -->
<footer class="footer" th:fragment="footer">&copy; 2021 by BURHAN FAQUIRI. All rights reserved.</footer>
</body>
</html>
